Checks: >
  -*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  readability-*,
  misc-*,
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
CheckOptions:
  - key: modernize-use-nullptr.NullMacros
    value: 'NULL'